@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}
html {
}
body {
  overflow: hidden;
  font-family: Segoe UI;
  font-weight: 400;
  background-color: #424953;
  background: url("./wallpaper.png");
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  user-select: none;
}
.blackTint {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  left: 0;
  top: 0;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  transition: all .2s ease;
}
h2 {
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  margin: 0;
  position: relative;
  top: 6px;
  left: 6px;
}
h3 {
  font-size: 12px;
  position: relative;
  left: 10px;
  top: calc(100% - 68px);
  font-weight: 400;
  transition: all .2s ease;
}
h4 {
  font-size: 30px;
  top: -20px;
  position: relative;
  font-weight: 300;
}
.tile {
  background: #00b2e1;
  width: 120px;
  height: 120px;
  float: left;
  scale: 1;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: all .2s ease;
  animation: fadeIn .3s;
  border-radius: 5px;
}
.tile:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.tile:active {
  transform: scale(0.98);
  cursor: pointer;
}
.tileIcon {
  position: relative;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}
.modernMessage {
  position: fixed;
  top: calc(50% - 150px);
  left: 0;
  background: #00b2e1;
  width: 100%;
  height: 300px;
  animation: fadeInNoScale .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.modernButton {
  top: 140px;
  position: relative;
  width: 100px;
  font-size: 12px;
  font-family: Segoe UI;
  color: white;
  font-weight: 400;
  border-radius: 0px;
  border: 2px solid white;
  background-color: transparent;
  margin-right: 20px;
  margin-left: 20px;
  transition: background-color .2s ease;
}
.modernButton:hover {
  background-color: rgba(255, 255, 255, 0.25); 
  cursor: pointer;
}
.part {
  width: 512px;
  float: left;
  margin-right: 100px;
  position: relative;
  top: 40px;
}
.taskbar {
  position: fixed;
  width: 100%;
  height: 40px;
  top: calc(100% - 40px);
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.taskbarIcon {
  width: 60px;
  height: 40px;
  float:left;
  left: 0;
  top: 0;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all .2s;
}
.taskbarIcon:hover {
  background-color: rgba(255, 255, 255, 0.25); 
}
.taskbarIconImage {
  position:relative;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}
.windowClose {
  position:relative;width:40px;height:31px;background-color:transparent;left:calc(100% - 40px);border-top-right-radius:5px;transition:background-color .1s;
}
.windowClose:hover {
  background-color: #ec5564;
}
.windowClose:active {
  background-color: #f76d82;
}
.window {
  background-color: white;position:absolute;border-radius: 5px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);transition: opacity .2s, transform .2s;
}
.close {
  clip-path: polygon(4.5% 0%, 0% 4.5%, 45.5% 50%, 0% 95.5%, 4.5% 100%, 50% 54.5%, 95.5% 100%, 100% 95.5%, 54.5% 50%, 100% 4.5%, 95.5% 0%, 50% 45.5%);
  background-color: black;
  width: 11px;
  height: 11px;
  position: absolute;
  top: calc(16px - 5.5px);
  left: calc(20px - 5.5px);
  transition: background-color .2s;
}
@keyframes fadeIn {
  0% {opacity:0;transform:scale(0.75);}
  100% {opacity:1;}
}
@keyframes fadeInNoScale {
  0% {opacity:0;}
  100% {opacity:1;}
}